.modal-header, h4, .close {
    background-color: #8854ee;
    color:white !important;
    text-align: center;
    font-size: 30px;
    
  }
  #myBtn {  } 

  #enterBtn {

    font-size: 45px;
    font-family: Impact,Arial, Helvetica, sans-serif; 
    background-color: rgb(255, 0, 0); 
    border: solid;
    border-color: rgb(174, 252, 248);
    color: rgb(174, 252, 248);
    text-align: center;
    cursor: pointer; /* Pointer/hand icon */
    width: 10%; 
    border-radius: 5px;
    -webkit-text-stroke: 1.5px rgb(0, 0, 0);
    position: fixed; top:50%; left:50%;
  }

  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    
    width: 100%;
    text-align: center;
}

.modal-content {
    
  width: max-content;
}

.btn-success {
  color: #fff;
  background-color: blue;
  border-color: blue;
}

.btn-success:hover {
  color: rgb(6, 255, 18);
  background-color: #02f502;
  border-color: #00ff00;
}

body{
    background-image:url(what_now.png);
    background-size: cover;
    background-attachment: fixed;
}

.content{
  justify-content: center;
  padding: 50px;
  margin: 100px;
  display: flex;
  width: 100%
}

h1{
  font-size: 100px;
  color: rgb(255, 0, 0);
  font-family: Impact,Arial, Helvetica, sans-serif;
  -webkit-text-stroke: 3px rgb(174, 252, 248);
  text-align: center;
}