*,
::after,
::before {
    box-sizing: border-box;
}

body {
    height: 100%;
    background-image: url(../../img/steel.JPG);
    background-size: cover;
    background-attachment: fixed;
}

header.masthead {
    position: relative;
    background-color: #343a40;
    background: url("../../img/pexels-chan-walrus-941864.jpg") no-repeat center center;
    background-size: cover;

    padding-bottom: 15rem;
}



.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.btn-primary {
    color: whitesmoke;
    background-color: #000000de;
    
}

.panel-heading {
    color: whitesmoke;
    background-color: #000000de;

    font-size: 30px;

}


.text-white {
    color: #fff !important;
}

.text-center {
    text-align: center !important;
}

#sidebar {
    border-style: solid;
    border-width: 3px;
}

.card-body-1,
.card-body-2 {
    border-style: solid;
    border-width: 3px;
}

#wrap {
    min-height: 100%;
}

#main {
    
    padding-bottom: 150px;
    /* this needs to be bigger than footer height*/
}

.footer {
    position: relative;
    margin-top: -150px;
    /* negative value of footer height */
    height: 150px;
    clear: both;
    padding-top: 20px;
    
    background: url("../../img/pexels-chan-walrus-941864.jpg") no-repeat center center;
}

.previousSearch {
    flex-direction: column;
    display: flex;
    width: 100%;
    font-size: 20px;
    
}

.row {
    display: contents;

}

.mainContent {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 70px;
}
.searchContent {
    width: auto;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}



.searchBtn{

  
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;

}


.citySearch {
    display: contents;
}


button {

    width: 172px;
}


h3 {
text-align: center;
font-size: 1rem;
}

@media (max-width: 850 px) {
.mainContent {
    display: inline;
margin-left: 30px;
margin-right: 30px;
margin-top: 70px;
}

.searchContent {
   width:auto;
display: flex;
flex-direction: column;
/* font-size: 20px; */
padding-bottom: 30px;
margin-bottom: 30px;

}


}