  .modal-header, h4, .close {
    /*background-color: rgb(110, 23, 128);*/
    /* color:white !important; */
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    -webkit-text-stroke: 1px rgb(40, 89, 250);
    border-radius: 15px 15px 0 0;
    font-family:'Courier New', Courier, monospace;
    font-style: oblique;
    color: rgb(121, 248, 231, 0.918);
    
    text-transform: uppercase;
    background-image: url(../../img/concrete_texture_dark.jpg!d);
    cursor: pointer; /* Pointer/hand icon */
    
  }

  .modal-header {
    border: 0.2rem solid rgb(44, 53, 177);
    border-radius: 1rem;

  }
 

  .enterBtn {
    font-family: 'cursive';
    font-size: 25px;
    font-style: oblique;
    color: rgb(149, 247, 149);
    border: 0.2rem solid rgb(121, 248, 231, 0.918);
    border-radius: 1rem;
    text-transform: uppercase;
    animation: flicker 2.5s infinite alternate; 
    cursor: pointer; /* Pointer/hand icon */
    width: 20rem; 
    float: right;
    margin-top: -58px;

  }
    #enterBtn::-moz-selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
    }
    
    #enterBtn::selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
    }
    
    #enterBtn:focus {
    outline: none;
    }





label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
  width: 100%;
  text-align: center;
}

.modal-content {
  margin-left: 62px;
  margin-top: 281px;
  width: inherit;
  border: 0.2rem solid rgb(44, 53, 177);
  border-radius: 1.2rem;
  /* background-color: rgb(121, 248, 231, 0.918); */
  background-image: url(../../img/steel.JPG);
  background-size: 100%;
  background-attachment: fixed;
  ;
    
  }

  p {
    font-size: 25px;;
  }


.btn-success {
color: #fff;
background-color: #3f3f3f;
border-color: #fff
}

.btn-success:hover {
color: #fff;
background-color:#2dc453;
border-color: #fff;
}



.content{
justify-content: center;
padding: 30px;
margin: 25px;
display: flex;
width: 100%;
border-radius: 15px;
}

.container {
 
    padding-right: 32px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 104px;
    }




:root {
/* Base font size */
font-size: 10px;   

/* Set neon color */
--neon-text-color: rgb(248, 100, 187);
--neon-border-color: rgb(9, 6, 207);
}


body {


justify-content: center;
align-items: center;  
min-height: 100vh;
background-image: url(../../img/concrete_texture_dark.jpg!d);
background-size: cover;
background-attachment: fixed;
}

h3 {
color: rgba(121, 248, 231, 0.918);
padding: .5px 78px 1px;
font-size: 31px;
-webkit-text-stroke: 1px rgb(40, 89, 250);
}

h1 {
font-family:'Courier New', Courier, monospace;
font-size: 60px;
font-style: oblique;
font-weight:bold;
color: rgba(121, 248, 231, 0.918);
padding: 4rem 9.5rem 4rem;
border: 0.4rem solid rgb(121, 248, 231, 0.918);
border-radius: 2rem;
text-transform: uppercase;
animation: flicker 2.5s infinite alternate;  
width: 100%;   
}

h1::-moz-selection {
background-color: var(--neon-border-color);
color: var(--neon-text-color);
}

h1::selection {
background-color: var(--neon-border-color);
color: var(--neon-text-color);
}

h1:focus {
outline: none;
}

/* Animate neon flicker */
@keyframes flicker {
  
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    
      text-shadow:
          -0.2rem -0.2rem 1rem rgb(142, 63, 245),
          0.2rem 0.2rem 1rem rgb(44, 53, 177),
          0 0 2rem var(--neon-text-color),
          0 0 4rem var(--neon-text-color),
          0 0 6rem var(--neon-text-color),
          0 0 8rem var(--neon-text-color),
          0 0 10rem var(--neon-text-color);
      
      box-shadow:
          0 0 .5rem rgb(180, 247, 247),
          inset 0 0 .5rem rgb(180, 247, 247),
          0 0 2rem var(--neon-border-color),
          inset 0 0 2rem var(--neon-border-color),
          0 0 4rem var(--neon-border-color),
          inset 0 0 4rem var(--neon-border-color);        
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
      box-shadow: none;
  }    
}


@media (max-width: 1200px) {
.enterBtn{
  width: 20rem;

margin-top: 0px;
margin-right: 373px;
}
}

@media (max-width: 992px) {
  .enterBtn{
   
    width: 20rem;
      margin-top: 7px;
      margin-right: 265px;
      
  }
  .modal-content{
    margin-right: 17px;
    margin-left: 22px;
    margin-top: 57px;
  }
  }

  @media (max-width: 750px) {
    .enterBtn{
      width: 20rem;
      margin-top: 7px;
      margin-right: 220px;
      }
        
    }
    

    @media (max-width: 550px) {
      .enterBtn{
        width: 20rem;
        margin-top: 2px;
        margin-right: 150px;
        }
          
      }



    @media (max-width: 450px) {
      .enterBtn{
        width: 20rem;
        margin-top: 2px;
        margin-right: 75px;
        }
          
      }


      @media (max-width: 320px) {
        .content{

       
      justify-content: center;

display: flex;
width: 100%;
border-radius: 15px;
        }
      }